<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="url">
                <field id="use_per_store_config" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configure Store Code Removal Per Store</label>
                    <comment><![CDATA[<strong>No (default):</strong> The default store has its store code removed from the URL; all other stores keep it.<br/>
                    <strong>Yes:</strong> You choose individually which stores have their store code removed.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="use_store">1</field>
                    </depends>
                </field>
                <field id="stores_without_store_code" translate="label comment" type="multiselect" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stores Without Store Code in URL</label>
                    <comment>Select every store whose store code should be removed from the URL.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                    <depends>
                        <field id="use_store">1</field>
                        <field id="use_per_store_config">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
